/* General Styles */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5; /* Light gray background */
  color: #333;
  line-height: 1.6;
  min-height: 100vh; /* Ensure body covers the entire viewport */
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  display: none;
}

.nav-links {
  display: none;
}

.hamburger {
  display: none;
}

.offcanvas-menu {
  display: none;
}

/* Main Content */
.main-content {
  padding-top: 80px; /* Add top padding to account for fixed navbar */
  min-height: calc(100vh - 80px);
  padding: 2rem;
  flex-grow: 1; /* Take up remaining vertical space */
}

/* Footer */
.footer {
  background-color: #2c3e50; /* Dark blue-gray footer */
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Push footer to the bottom */
}

/* Media Queries */
@media (max-width: 768px) {
  .header .nav-links {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }
}
